@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    height: 100dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(31,31,31);
    background: radial-gradient(circle, rgba(31,31,31,1) 0%, rgba(24,24,24,1) 6%, rgba(0,0,0,1) 100%);
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    flex-direction: column;
}
.wrapper{
    text-align: center;
}
input{
    width: 60vw;
    height: 2.4rem;
    border: none;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding-left: 20px;
    outline: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    animation: grow .8s cubic-bezier(0, 0, 0.01, 0.96) forwards;
    color: ghostwhite;
}

@keyframes grow{
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 60vw;
        opacity: 1;
    }
}

div{
    width: 100vw;
}

button{
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    color: ghostwhite;
    animation: grow2 .7s cubic-bezier(0, 0, 0.01, 0.96) forwards;
    transition: all .3s ease;
}
button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.7);
}

img{
    -webkit-user-drag: none;
    animation: fly1 .7s forwards;
}

p{
    color: ghostwhite;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    animation: fly 1s ease forwards;
}

@keyframes grow2{
    from{
        width: 0;
        overflow: hidden;
    }
    to{
        width: 100px;
        overflow: initial;
    }
}

@keyframes fly {
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(10px);
        opacity: 1;
    }
}
@keyframes fly1 {
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(20px);
        opacity: 1;
    }
}